// Переменные цвета
$colorBody: #212121;
$colorSlide:#900C3F;
$sliderText: #FF5733;
$sliderBorder: #FFC300;


//Переменные шрифта
$ff:'Nunito Sans', sans-serif;
//Переменные адаптивных величин
$small: 320px;
$mobile: 576px;
$middle: 768px;
$tablet: 992px;
$desktop: 1300px;
